<div class="card">
  <div class="col-4 col-md-12">
    <div class="card__cardImage"></div>
  </div>
  <div class="card__cardBodyPadding col-8 col-md-12">
    <div class="card__cardBody">
      <div class="card__cardBodyLeft">
        <div class="card__cardTitle">
          <h4>{{title}}</h4>
        </div>
        <div class="card__cardTag">
          <p>
            <span>{{tag}}</span>
          </p>
        </div>
      </div>
      <div class="card__cardBodyRight">
        <a href="#">
          <i class="bi bi-plus-circle-fill"></i>
        </a>
      </div> 
    </div>
  </div> 
</div>