<div class="container-fluid mx-auto pt-5 main">
  <h1>{{mainTitle}}</h1>
  <div class="row g-3">
    <app-card class="col-12 col-lg-4 col-md-6" [title]="title" [tag]="tag"></app-card>
    <app-card class="col-12 col-lg-4 col-md-6" [title]="title" [tag]="tag"></app-card>
    <app-card class="col-12 col-lg-4 col-md-6" [title]="title" [tag]="tag"></app-card>
    <app-card class="col-12 col-lg-4 col-md-6" [title]="title" [tag]="tag"></app-card>
    <app-card class="col-12 col-lg-4 col-md-6" [title]="title" [tag]="tag"></app-card>
    <app-card class="col-12 col-lg-4 col-md-6" [title]="title" [tag]="tag"></app-card>
    <app-card class="col-12 col-lg-4 col-md-6" [title]="title" [tag]="tag"></app-card>
    <app-card class="col-12 col-lg-4 col-md-6" [title]="title" [tag]="tag"></app-card>
    <app-card class="col-12 col-lg-4 col-md-6" [title]="title" [tag]="tag"></app-card>
  </div>
</div>